<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a routerLink='/' class="waves-effect">
            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Home</a>
        </li>
        <li >
          <a routerLink='/employees' class="waves-effect">
            <i class="fa fa-user m-r-10" aria-hidden="true"></i>Employees</a>
        </li>
        <li>
            <a href="map-google.html" class="waves-effect">
              <i class="fa fa-globe m-r-10" aria-hidden="true"></i>Abouts</a>
          </li>
        <li>
          <a href="/login" class="waves-effect">
            <i class="fa fa-font m-r-10" aria-hidden="true"></i>Login</a>
        </li>
        
        <!-- <li>
          <a href="pages-blank.html" class="waves-effect">
            <i class="fa fa-columns m-r-10" aria-hidden="true"></i>Blank Page</a>
        </li>
        <li>
          <a href="pages-error-404.html" class="waves-effect">
            <i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>Error 404</a>
        </li> -->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
